<div role="navigation" th:fragment="navigation-menu">
    <div class="navbar navbar-inverse">
        <a href="/" class="navbar-brand">Home</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:8080/repo/new">Nowe Repozytorium</a> </li>
                <li><a href="http://localhost:8080/repo/all">Wszystkie Repozytoria</a> </li>
                <li><a href="http://localhost:8080/set/new">Nowy zespół</a> </li>
                <li><a href="http://localhost:8080/set/all">Wszystkie Zespoły</a> </li>
            </ul>
        </div>
    </div>
</div>
