<ul th:fragment="treeview (node,repo)" th:unless="${#lists.isEmpty(node.getChildren())}"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <li th:each="child : ${node.getChildren()}" th:inline="text" href="">
        <th:block th:switch="${child.getType().toString()}">
            <span th:case="'DIRECTORY'">
                <img th:src="@{/images/Folder-icon.png}" />
                [[${child.getName()}]]
            </span>
            <span th:case="'FILE'">
               <img th:src="@{/images/File-icon.png}" />
                <a th:onclick="'changeURL(\'' + ${child.getName()}  +'\',\''+ ${child.getPath()} + '\')'" ><span class="file">[[${child.getName()}]]</span></a>
            </span>
        </th:block>
        <div th:replace="_treeview :: treeview(${child},${repo})"></div>
    </li>
    <script type="text/javascript" th:inline="javascript">
        function changeURL(name, path){
            window.open( 'http://localhost:8080/repo/' + [[${repo.indexRepo}]] + '/' + name + '/?path=' + path , '_blank');
        }
    </script>
</ul>

