<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ZMT Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<style>
    .loginBox{
        width:400px;
        height: 300px;
        border: 1px solid lightgrey;
        border-radius: 5px;
       margin-left:auto;
        margin-right: auto;
        padding: 20px 30px;

    }
</style>
<div class="container">
    <img th:src="@{/images/zm-tarnow.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
    <div class="loginBox">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Logowanie"></h3>
        <br/>

        <input type="text" id="email" name="email"  th:placeholder="Email"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Niepoprawne hasło lub login</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Zaloguj"></button>
    </form>
    </div>
</div>
</body>
</html>