<!DOCTYPE html>
<html lang="pl">
<head th:include="_links :: linksTree" >

    <meta charset="UTF-8">
    <title>ZMT Manager</title>

</head>
<body>

<nav id="nav" th:include="_navigation :: navigation-menu" />

<div class="container text-center">
    <h3>Edycja Zespołu [[${set.getName()}]] </h3>

    <form class = "form-horizontal" th:method="PUT" th:action="@{/set/} + ${set.getName()}">
        <div class="form-group">
            <label class="control-label col-md-3">Opis</label>
            <div class="col-md-4">
                <input type="text" name="description" required="required" th:value="${set.getDescription()}"/>
                <input type="submit" class="bt btn btn-primary" name="add" value="Zapisz"/>
            </div>
        </div>
    </form>

    <br>
    <div class="container text-center" id = "taskDiv">
        <h3>Lista Repozytoriów</h3>

        <div class="table-responsive">
            <table  class="table table-hover table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Nazwa</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="repo: ${repositories}">
                    <tr>
                        <td><a th:href="@{/repo/} + ${repo.indexRepo}"><span th:text="${repo.getIndexRepo()}"></span></a></td>
                        <td>[[${repo.getName()}]]</td>
                        <td>
                            <a th:href="@{#myModal_} + ${repo.getId()}" role="button" class="btn btn-large btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                    <div th:id="myModal_ + ${repo.getId()}" class="modal fade">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Potwierdź Usuwanie</h4>
                                </div>

                                <div class="modal-body">
                                    <p>Czy na pewno chesz usunąć Repozytorium "[[${repo.getIndexRepo()}]]" z Zespołu? </p>
                                </div>
                                <div class="modal-footer">
                                    <form th:action="@{/set/} + ${set.getName()} + @{?id_repo=} + ${repo.getId()} + @{&id_set=} + ${set.getId()}" th:method="DELETE">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                        <button type="submit" class="btn btn-primary" data-title="Edit" data-toggle="modal" >Usuń</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>


    <br>
    <div class="col-md-6 text-left" >
        <h4>Dodaj Repozytorium do Zespołu</h4>
        <form th:action="@{/set/} + ${set.getName()} + @{/} + ${set.getId()}" th:method="POST">
            <select name="id_repo">
                <option th:each = "option : ${all_repos}"
                        th:text = "${option.getIndexRepo() + ' (' + option.getName() + ' )'}"
                        th:value = "${option.getId()}">
                </option>
            </select>
            <br><br>
            <input type="submit" class="bt btn btn-primary" value="Dodaj"/>
        </form>
    </div>
</div>
</body>
<script th:replace="_links :: scripts"></script>

</html>