<!DOCTYPE html>
<html lang="pl">
<head th:include="_links :: linksTree">

    <meta charset="UTF-8">
    <title>ZMT Manager</title>

</head>
<body>

    <nav id="nav" th:include="_navigation :: navigation-menu" />

    <div class="container text-center" id = "taskDiv">
        <h3>Lista Zespołów</h3>

        <br>
        <div class="form-group">
            <div class="col-md-4 text-left main-center" >
                <label th:if="${#lists.isEmpty(treeSet.getChildren())}" class="control-label text-right">Nie stworzono jeszcze żadnego Zespołu</label>
                <div th:unless="${#lists.isEmpty(treeSet.getChildren())}" >
                    <input type="text" class="form-control" placeholder="Wyszukaj .." id="search"/>
                    <div class="jstree">
                        <ul th:replace="_treeview :: structure(${treeSet})"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script th:replace="_links :: scripts"></script>
<script type="text/javascript" src="/js/showTree.js"></script>
</html>